body {
    margin: 0;
    padding: 0;
    background-color: #cfcfcf;
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.video-feed {
    margin-top: 20px;
    padding: 10px;
    background: #ffffff;
    border: 10px solid #000000;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

img {
    border-radius: 10px;
    border: 2px solid #333;
    max-width: 90vw;
    height: auto;
}

footer {
    margin-top: auto;
    padding: 20px;
    opacity: 0.6;
    font-size: 0.85rem;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 10px
}

#loadButton {
    padding: 12px 25px;
    font-size: 1rem;
    margin-left: 20px;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 5px;
}

#datePicker {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #333;
    border-radius: 5px;
}

